body{
    background-color: rgb(38,38,38);
}

#home-page-navbar {
    background-color:rgba(0,0,0,0.5);
}

.cover {
   width: 100vw; /* whatever width you want for the cover div */
   height: 50vh;/* optional */
   overflow: hidden;
}
.cover > img {
   width: 100%;
}